<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Lexical Analyzer & Parser - Team 7 </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='assets/img/favicon.png')}}" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename='assets/css/style.css')}}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Team 7</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Lexical Analyzer & Parser</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
      <h1>Tugas Besar Teori Bahasa Automata</h1>
      <a href="#contact" class="btn-get-started scrollto">Get Started</a>
      <img src="{{url_for('static', filename='assets/img/hero-img.png')}}" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150">
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Anggota kelompok kami :  </p>
        </div>

        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="{{url_for('static', filename='assets/img/team/team-2.jpeg')}}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Akmal Muhamad Firdaus (1301204188)</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="{{url_for('static', filename='assets/img/team/team-1.jpeg')}}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Raihan Chaira</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="{{url_for('static', filename='assets/img/team/team-3.jpeg')}}" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Faozan Sudrajat</h4>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Lexical Analyzer dan Parser</h2>
          <p>CFG yang merepresentasikan aturan bahasa sederhana untuk bahasa manusia.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 mt-4 mt-md-0">
            
            <form role="form" class="php-email-form">
              <center><p>Terminal words : lon | jih | kah | galak | co' | poh | sipa' | bu | miie | adek</p></center>
              <div class="form-group mt-3">
                
                <textarea class="form-control" id="kalimat" name="kalimat" rows="5" placeholder="Kalimat/kata yang ingin diperiksa"></textarea>
              </div>
              <div class="my-3">
              </div>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Example Grammar
              </button>
              <div class="text-center"><button id="submitForm" type="submit">Periksa</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- Modal Lexical Analyzer-->
  <div class="modal fade" id="lexicalAnalyzer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Lexical Analyzer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="content_lexcial"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="nextToParser" class="btn btn-primary">Next to Parser</button>
          <button type="button" id="nextToParser2" class="btn btn-primary">Next to Parser</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal Parser-->
  <div class="modal fade" id="parser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Parser</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="content_parser"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Example Grammar -->
  <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Example Grammar for Parser</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="list-group">
            <button id="ex1" type="button" class="list-group-item list-group-item-action">lon galak miie (saya suka kucing)</button>
            <button id="ex2" type="button" class="list-group-item list-group-item-action">adek sipa' lon (adek tendang saya)</button>
            <button id="ex3" type="button" class="list-group-item list-group-item-action">jih co' bu (dia ambil nasi)</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  
  <!-- Sweetalert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script>
    $( document ).ready(function() {
      $("#nextToParser2").hide()
      $("#ex1").click( function () {
        $("#exampleModal").modal('hide');
        $("#kalimat").val("lon galak miie");
      })

      $("#ex2").click( function () {
        $("#exampleModal").modal('hide');
        $("#kalimat").val("adek sipa' lon");
      })

      $("#ex3").click( function () {
        $("#exampleModal").modal('hide');
        $("#kalimat").val("jih co' bu");
      })


      $("#submitForm").click( function () {
        if(!$('#kalimat').val()){
          swal("Ooops!", "Kalimat tidak boleh kosong!", "error");
        } else {
          $.ajax({
            url: './submit',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify( { "kalimat":$('#kalimat').val()} ),
            processData: false,
            success: function( data, textStatus, jQxhr ){
              $("#content_lexcial").html(data.msg_lexical)
              $("#lexicalAnalyzer").modal('show');

              if(data.status_lexical){
                $("#nextToParser").hide()
                $("#nextToParser2").show()
                $("#nextToParser2").click( function () {
                  $("#content_parser").html(data.msg_parser)
                  $("#lexicalAnalyzer").modal('hide');
                  $("#parser").modal('show');
                })
              } else {
                $("#nextToParser").show()
                $("#nextToParser2").hide()
                $("#nextToParser").click( function () {
                  swal("Ooops!", "Jika Lexical Analyzer gagal, maka tidak bisa menggunakan parser!", "error");
                })
              }
            },
            error: function( jqXhr, textStatus, errorThrown ){
                alert("error")
            }
          }); 
        }  
      });
    });
    
  </script>

</body>

</html>